.dropdown {
    position: relative;
    display: inline-block;
    /* line-height: 30px; */
  }
  
  .dropdown-content {
    display: none;
    position:absolute;
   left: 0px;
  font-size: small;

    background-color:rgb(233, 195, 26);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 10px;
    z-index: 1;
    
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }